.generator-intro.slide-background {
	background-color: #314566;
}

.generator-intro h1,
.generator-intro h2,
.generator-intro h3,
.generator-intro h4,
.generator-intro h5,
.generator-intro h6,
.generator-intro p,
.generator-intro li {
	color: #d3d3d3;
}

.reveal pre {
	background-color: #232323;
}

.reveal pre code {
	font-family: Hack;
}

.inversion h1,
.inversion h2,
.inversion h3,
.inversion h4,
.inversion h5,
.inversion h6,
.inversion p,
.inversion li {
	color: rgba(255, 255, 255, 0.8);
}

.inversion-title.slide-background {
	filter: blur(5px) brightness(0.6);
}
